# {{ .Project.Name }}

This project was generated with Greicodex CLI.

## Prerequisites

- PHP 8.2
- Docker
- Composer

## Getting Started

1.  **Install dependencies:**

    ```bash
    composer install
    ```

2.  **Run the application with Docker Compose:**

    ```bash
    docker-compose up -d
    ```

## Deployment

### Docker

To deploy with Docker, you can use the provided `Dockerfile.tmpl` and `docker-compose.yml.tmpl` as a starting point.
