{{ if eq .Stack.deployment "KNative" }}
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ .Project.Name }}
spec:
  template:
    spec:
      containers:
        - image: {{ .Project.Name }}
          ports:
            - containerPort: 80
{{ end }}
