version: '3.8'

services:
  app:
    build:
      context: .
      target: build
    volumes:
      - .:/app
    working_dir: /app

  debug:
    build:
      context: .
      target: debug
    ports:
      - "40000:40000"
    volumes:
      - .:/app
    working_dir: /app
