apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ .Project.Name | ToLower }}
spec:
  template:
    spec:
      containers:
        - image: your-image-repo/{{ .Project.Name | ToLower }}:latest
          ports:
            - containerPort: 80
